<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random User Generator</title>
    <link rel="icon" href="https://api.faviconkit.com/vuejs.org/57" type="image/x-icon">
    <link rel="stylesheet" href="tailwind.css">
</head>
<body  class="bg-gray-50 m-auto w-max">
    <div id="app">
        <div :class="gender == 'female' ? 'bg-pink-100' : 'bg-blue-100'" class="flex flex-col w-full justify-center px-20 py-10 shadow-lg border  mt-10">
        <div class="flex w-full justify-center my-6">
            <img class="rounded-full border-2 border-white shadow-md h-32 w-32" :src="picture" alt="">
        </div>
        <p class="text-2xl font-medium text-center w-full">{{ firstName }} {{ lastName }}</p>
        <p class="text-lg font-base text-center w-full">{{ email }}</p>
        <!-- Disable for a time after click -->
        <button id="myBtn" :class="isDisabled ? 'bg-gray-200' : 'bg-blue-200'" class="py-2 px-4 bg-gray-300 my-2" v-on:click="getUsers()">
            Get users, {{ isDisabled ? 'wait' : 'ready' }}
        </button>
</div>
</div>
    <script>
        // document.getElementById("myBtn").disabled = true;
    </script>
    
    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script src="app.js"></script>
</body>
</html>